<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/accueil"><img src="/assets/logo-tchat.png" alt="logo tchat" class="logo">
        Social Media App
      </a>
      <nav class="menu">
        <a href="/accueil">Accueil</a>
        <a href="/channel/post">Ajouter un canal</a>
        <a href="/message/post">Rédiger un message</a>
      </nav>  
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
    </ul>
  </div>
</nav>
