<div class="container">
<h2 class="title-edit-channel">Modifier le canal</h2>

    <form [formGroup]="form" novalidate>
        <!-- Name -->
        <div class="form-group">
            <label for="name">Nom</label>
            <input
                type="text" 
                class="form-control" 
                id="name" 
                formControlName="name">
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <input
                type="text" 
                class="form-control" 
                id="description" 
                formControlName="description">
        </div>

        <!-- Date de création -->
        <!-- <div class="form-group">
            <label for="createdAt">Date de création</label>
            <input
                type="text" 
                class="form-control" 
                id="createdAt" 
                formControlName="createdAt">
        </div> -->

        <!-- Date de création -->
        <!-- <div class="form-group">
            <label for="updatedAt">Date de modification</label>
            <input
                type="text" 
                class="form-control" 
                id="updatedAt" 
                formControlName="updatedAt">
        </div> -->

        <!-- Submit btn -->
        <button type="button" (click)="updateChannel()">Valider la modification</button>

    </form>

</div>
