<h2>Modifier un utilisateur</h2>

<div class="container">
    <form>
        <div class="form-group">
            <label for="lastname">Nom</label>
            <input type="text" class="form-control" id="lastname" [formControl]="form.controls.lastname">
        </div>
        <div class="form-group">
            <label for="firstname">Prénom</label>
            <input type="text" class="form-control" id="firstname" [formControl]="form.controls.firstname">
        </div>
        <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input type="text" class="form-control" id="pseudo" [formControl]="form.controls.pseudo">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [formControl]="form.controls.email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" [formControl]="form.controls.password">
        </div>
        <div>
            <button type="submit" (click)="updateUser()">Envoyer</button>
        </div>
    </form>
</div>
