<div class="container">
    <h2>{{channel?.name}}</h2>

    <div>Description : {{channel?.description}}</div>
    <div>Date de création : {{channel?.createdAt}}</div>
    <div>Date de modification : {{channel?.updatedAt}}</div>

    <!-- Boutons de gestion du canal -->
    <button  type="button" class="btn btn-primary" [routerLink]="['/channel/put', channel.id]">Modifier</button> <span>  </span>  
    <button type="button" class="btn btn-primary" [routerLink]="['/channel/delete', channel.id]">Supprimer</button> <br>
    <hr>
    <!-- Affichage des messages -->
    <button type="button" class="btn btn-primary" [routerLink]="['/channel/listMessages', channel.id]">Afficher les messages</button>

</div>



