<!-- <h2>{{channel?.name}}</h2>

<div>Description : {{channel?.description}}</div>
<div>Date de création : {{channel?.createdAt}}</div>
<div>Date de modification : {{channel?.updatedAt}}</div>

<button type="button" [routerLink]="['/channel/put', channel.id]">Modifier</button><br>

<button type="button" [routerLink]="['/channel/delete', channel.id]">Supprimer</button>  -->

<h2>{{channel?.name}}</h2>

<div>Description : {{channel?.description}}</div>
<div>Date de création : {{channel?.createdAt}}</div>
<div>Date de modification : {{channel?.updatedAt}}</div>

<!-- Boutons de gestion du canal -->
<button type="button" [routerLink]="['/channel/put', channel.id]">Modifier</button><br>
<button type="button" [routerLink]="['/channel/delete', channel.id]">Supprimer</button> 

<!-- Affichage des messages -->
<button type="button" [routerLink]="['/channel/listMessages', channel.id]">Afficher les messages</button>


