<div class="container">
    
    <h3>Messages : </h3>

    <!-- Liste des Messages du canal -->
    <section>  
        <ul *ngIf="messages.length; else noChannelMessage">
            <li *ngFor="let message of messages; let i = index" class="listMessages">
                <span *ngIf="i%2==0;then pairMessageTheme ;else impairMessageTheme"></span>
                <ng-template #pairMessageTheme>
                    <div class="chat darker">{{ message.content }}
                        <br>
                        <a [routerLink]="['/message/put', message.id]"><img src="/assets/edit.png" alt="modifier" class="imagesModif"></a>
                        <a [routerLink]="['/message/delete', message.id]"><img src="/assets/supprimer.png" alt="supprimer"  class="imagesModif"></a>
                    </div>
                </ng-template>
                
                <ng-template #impairMessageTheme>
                    <div class="chat">{{ message.content }}
                        <br>
                        <a [routerLink]="['/message/put', message.id]"><img src="/assets/edit.png" alt="modifier" class="imagesModif"></a>
                        <a [routerLink]="['/message/delete', message.id]"><img src="/assets/supprimer.png" alt="supprimer"  class="imagesModif"></a>
                    </div>
                </ng-template>
            </li>
        </ul>
        
        <ng-template #noChannelMessage>
            <div>Aucun message dans ce canal, n'hésitez pas à en ajouter !</div>
        </ng-template>

    </section>

    
    
    <!-- Lien vers l'ajout d'un message -->
    <section>
        <button type="button" class="btn btn-primary" routerLink="/message/post">Rédiger un message</button>
    </section>
  

</div>