

html {
    font-size: 14px;
    font-family: 'PT Sans', Georgia, serif; }

body{
    background-color: #f4f7f6;
    margin-top:20px;
}

/* Top navbar */

.navbar-brand {

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: cadetblue;
}

.logo {
    height: 40px;
    width: 40px;
}



.navbar-header a {
    font-weight: bold;
}

.menu a {
    display: inline-block;
}


/* dropdown */

 
  main {
    margin: 50px auto;
    width: 500px;
  }
 
  .dropdown {
    width: 230px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
 
  .dropdown > a > label {
    border-radius: 2px;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
  }
  .dropdown > a::after, .dropdown.toggle > label::after {
    content: "";
    float: right;
    margin: 15px 15px 0 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #CCC;
  }
  .dropdown ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
    overflow: hidden;
  }
  .dropdown a, .dropdown.toggle > label {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    background-color: #FFF;
  }
  .dropdown li {
    height: 0;
    overflow: hidden;
    transition: all 500ms;
  }
  .dropdown.hover li {
    transition-delay: 300ms;
  }
  .dropdown li:first-child a {
    border-radius: 2px 2px 0 0;
  }
  .dropdown li:last-child a {
    border-radius: 0 0 2px 2px;
  }
  .dropdown li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    margin: -10px 0 0 30px;
  }
  .dropdown a:hover, .dropdown.toggle > label:hover, .dropdown.toggle > input:checked ~ label {
    background-color: #EEE;
    color: #666;
  }
  .dropdown > a:hover::after, .dropdown.toggle > label:hover::after, .dropdown.toggle > input:checked ~ label::after {
    border-top-color: #AAA;
  }
  .dropdown li:first-child a:hover::before {
    border-bottom-color: #EEE;
  }
  .dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {          
    height: 40px;
  }
  .dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
    padding-top: 15px;
  }