html {
    font-size: 14px;
    font-family: 'PT Sans', Georgia, serif; 
}


body{
    background-color: #f4f7f6;
    margin-top:20px;
}

/* Top navbar */

.navbar-brand {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 55px;
    background: cadetblue;
}

.logo {
    height: 40px;
    width: 40px;
}

.navbar-header a {
    font-weight: bold;
}

.menu a {
    display: inline-block;
}

/* Add a black background color to the top navigation */
.navbar-body {
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.navbar-body a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.navbar-body a:hover {
    background-color: #ddd;
    color: black;
}

/* Sidebar */
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(67, 80, 117);
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
/* Sidebar links */
.sidebar a, .sidebar span {
    display: block;
    color: white;
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
    background-color: rgb(94, 113, 165);
    color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: rgb(50, 60, 88);
    color: white;
}

.sidebar li {
    list-style: none;
}

/* Formulaire ajout message */

.card {
    background-color: rgb(53, 109, 126);
    text-align: left;
    padding: 1em 2em;
    width: 31em;
    height: 28em;
    margin-left: 32em;
}

.card-container-user {
    height: 33em;
}

label, p {
    color: white;
}

.btn {
    margin-left: 160px;
    height: 35px;
    color: black;
    background-color: rgb(138, 230, 233);
    border: 2px solid rgb(84, 175, 179);
}

.btn:hover {
    background-color: rgb(105, 172, 173);
    border-color: rgb(76, 124, 126);
}
/* Top navbar */
.navbar-brand {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: cadetblue;
}

.logo {
    height: 40px;
    width: 40px;
}

.navbar-header a {
    font-weight: bold;
}

.menu a {
    display: inline-block;
}


footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
}


/* Liste des messages d'un canal */
/* Chat containers */
.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;

    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
   
  }
  
/* Darker chat container */
.darker {
    border-color: rgb(147, 202, 247);
    background-color: rgb(147, 202, 247);
}

/* List */
.listMessages {
    list-style: none;
}


.title-add-message, .title-add-channel, .title-add-user,
.title-edit-channel, .title-edit-message, .title-edit-user,
.title-show-channel, .form-show-channel {
    text-align: center;
}

.link-add-channel, .list-channels, #form-channel {
    margin-left: 42em;
}

.link-add-user, .list-users {
    margin-left: 42em;
}

.link-add-message, .list-messages {
    margin-left: 43em;
}

.btn-add-channel {
    background-color: rgb(67, 80, 117);
    color: white;
    border: 1px solid rgb(67, 80, 117);
    margin-left: 10px;
    font-weight: bold;
}
