<h2>Détails de l'utilisateur : </h2>

<div class="container">

    <div>Nom : {{user?.lastname}} </div>
    <div>Prénom : {{user?.firstname}} </div>
    <div>Pseudo : {{user?.pseudo}}</div>
    <div>Mail : {{user?.email}}</div>

    <button type="button" [routerLink]="['/user/put', user.id]">Modifier</button><br>
    <!-- <button type="button" [routerLink]="['/user/delete', user.id]" (click)="exportDelete()">Supprimer</button> -->
    <!-- <button type="button" (click)="exportDelete()">Supprimer</button> -->
    <button type="button" [routerLink]="['/user/delete', user.id]">Supprimer</button>

</div>

 


